# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

backend/**/__pycache__/
backend/venv/
backend/.env
backend/scripts/filtered_books.csv
backend/indexdir/
backend/app/services/recommendations_submodule/goodreads_data
backend/app/services/recommendations_submodule/indexdir
backend/app/services/recommendations_submodule/training_scripts/indexdir
backend/app/services/recommendations_submodule/training_scripts/synthetic_data.pkl
backend/scripts/indexdir

frontend/%ProgramData%

all_code.txt